.additional {
  max-width: 280px;
  margin: 0 auto 35px auto;
  padding: 0 20px;
}
.additional__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: $top-color;
  font-weight: normal;
  font-family: $font-head;
  margin: 0 0 45px 0;
  &::before {
    position: absolute;
    content: '';
    height: 3px;
    min-width: 53px;
    background-color: $leaf-color;
    left: 248px;
    top: 14px;
  }
  &::after {
    position: absolute;
    content: '';
    width: 280px;
    height: 1px;
    background-color: #000000;
    opacity: 0.2;
    top: 55px;
    left: 0;
  }
}
.additional__items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;

}
.additional__item {
  margin-bottom: 32px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 280px;
    height: 1px;
    background-color: #000000;
    opacity: 0.2;
    top: 116px;
  }
}
.additional__item-title {
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 15px 0;
  font-family: $font-head;
  color: $top-color2;
  text-transform: uppercase;
}
.additional__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14px;
  p {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: $font-main;
    color: $text-color;
  }
}
.additional__item-order {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-head;
  color: $text-head;
  padding: 10px;
  background-color: $leaf-color;
  text-align: center;
  text-transform: uppercase;
}
.additional__gift {
  min-height: 289px;
  background: url('../img/gift-photo-mobile@1x.jpg') center no-repeat;
  margin-top: 25px;
    p {
    max-width: 165px;
    font-size: 16px;
    line-height: 20px;
    font-family: $font-main;
    color: $text-head;
    text-align: center;
    padding-left: 57px;
    margin: 0;
  }
}
.additional__gift-logo {
  fill: $text-head;
  padding: 65px 111px 57px 113px;
}
