.example {
  overflow: hidden;
  width: auto;
  background-color: $program-color;
  min-height: 705px;
}
.example__wrapper {
  margin: 0 auto;
  max-width: 280px;
  padding: 0 20px;
}
.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $top-color;
  font-family: $font-head;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 22px;
}
.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-main;
  color: $text-color;
  margin-bottom: 25px;
  max-width: 273px;
}
.example__wrapper-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 94px;
  padding: 15px;
  border: solid 1px #cdcdcd;
  font-size: 24px;
  line-height: 24px;
  color: $top-color;
  font-family: $font-head;
  text-transform: uppercase;
}
.example__item-text {
  position: absolute;
  max-width: 59px;
  padding: 0 9px;
  font-size: 12px;
  line-height: 12px;
  color: $text-color;
  font-family: $font-main;
  text-transform: lowercase;
  text-align: center;
  background-color: $program-color;
  top: 46px;
  margin: 0;
  }
.example__costs {
  font-size: 14px;
  line-height: 20px;
  font-family: $font-head;
  color: $top-color;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 34px;
}
.example__images {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 240px;
  margin-bottom: 35px;
}

.example__image {
  display: none;
  &--active {
    display: block;
  }
}
.example__beforeAfter {
  width: 197px;
  display: flex;
  margin: 0 auto;
  padding-top: 271px;
  justify-content: space-between;
  font-family: $font-head;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: $top-color;
  p {
    margin: 0;
  }
}

.example__img-before {
  position: absolute;
  left: 0px;
  top: 0px;

}

.example__img-after {
  display: none;
  position: absolute;
  left: -71px;
  top: 0px;

}


.example__toggles {
  display: flex;
  justify-content: space-between;
  width: 84px;
  height: 12px;
  margin: 3px 0;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}
.example__toggle {
  display: none;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  margin: 3px 0;
  background-color: $leaf-color;
  &:first-child {
    margin-left: 6px;
    }
  &:last-child {
    margin-right: 6px;
  }
  &--active {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .example {
    min-height: 1051px;
    background-color: #ffffff;
  }
  .example__wrapper {
    @include containerTablet;
  }

  .example__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 255px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 13px;
    padding-bottom: 64px;

  }
  .example__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 676px;
    margin-bottom: 53px;
  }
  .example__wrapper-items {
    width: 367px;
  }

  .example__item {
    font-size: 30px;
    line-height: 37px;
    flex-basis: 130px;
    padding: 16px;
    text-align: center;
    border-radius: 3px;
  }
  .example__item-text {
    font-size: 14px;
    line-height: 14px;
    max-width: 150px;
    width: auto;
    padding: 0 8px;
    top: 62px;
    background-color: $text-head;
  }
  .example__costs {
    position: relative;
    margin: 0;
    margin-top: 12px;
    text-align: right;
    max-width: 174px;
    font-size: 20px;
    line-height: 20px;
  }

  .example__costs span {
    position: absolute;
    top: 28px;
    left: 83px;
  }

  .example__before {
    width: auto;
    min-height: 462px;
    background-image: linear-gradient(to right, $program-color 50%, $bgGrey 50%);
  }

  .example__images {
    max-width: 569px;
  }

  .example__beforeAfter {
    display: flex;
    justify-content: space-between;
    width: 569px;
    position: relative;
    padding-top: 369px;
    font-size: 20px;
    &::before {
      position: absolute;
      content: '';
      width: 45px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
      top: 394px;
    }
    &::after {
      position: absolute;
      content: '';
      width: 49px;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
      top: 394px;
      left: 520px;
    }
  }

  .example__img-before {
    position: absolute;
    left: -34px;
    top: -168px;
    clip: rect(0 338px 517px 0);
  }

  .example__img-after {
    display: block;
    position: absolute;
    left: -34px;
    top: -168px;
    clip: rect(0 690px 517px 338px);
  }

  .example__toggles {
    position: relative;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    margin: 5px 0;

  }
  .example__toggle {
    position: absolute;
    left: 192px;
    top: -18px;
    width: 34px;
    height: 34px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    border-radius: 50%;
    background: #ffffff;
    &::after {
      content: '';
      position: absolute;
      left: 13px;
      top: 13px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $leaf-color;
    }
  }
}

@media (min-width:$desktop-width) {
  .example {
    overflow: visible;
    width: auto;
    margin-top: 128px;
    background-color: #cdcdcd;
    min-height: 462px;
    background-image: linear-gradient(to right, $program-color 75%, $bgGrey 25%);
  }

  .example__content {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    min-height: 462px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .example__wrapper {
    position: relative;
    min-width: 435px;
    padding: 0;
    margin: 0;
  }

  .example__title {
    position: absolute;
    top: -150px
  }
  .example__text {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .example__wrap {
    display: block;
    margin-bottom: 0;
  }
  .example__wrapper-items {
  }
  .example__before {
    background-image: linear-gradient(to right, $program-color 53%, $bgGrey 47%);

  }
  .example__item-text {
    background: $program-color;
  }
  .example__costs {
    max-width: 350px;
    margin-top: 62px;
    text-align: left;
  }

.example__images {
  
}

  .example__img-before {
    clip: rect(0 364px 517px 0);
    left: -42px;
    top: -191px;
  }

  .example__beforeAfter {
    width: 669px;

  }

  .example__img-after {
    clip: rect(0 690px 517px 364px);
    left: -42px;
    top: -191px;
  }
}



