.header {
  width: auto;
  overflow: hidden;
}

.header__logo {
  max-width: 191px;
  display: block;
  width: 100%;
}

.header__container {
  max-width: 280px;
  min-height: 65px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__nav {
  /*display: none;*/
  min-height: 195px;
  flex-grow: 1;
  margin-top: 14px;
}

.header__nav--active {
  display: block;
}

.header__button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  height: 19px;
}

.header__block {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 3px;
  background: $top-color2;
  box-shadow: 0 -8px $top-color2, 0 8px $top-color2;
  border-radius: 30%;
}

.header__block--close {
  display: block;
  position: relative;
  width: 19px;
  height: 19px;
  background: #ffffff;
  box-shadow: none;
  border-radius: 0;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: $top-color2;
    transform: rotate(45deg);
    top: 9px;
    left: -3px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: $top-color2;
    transform: rotate(-45deg);
    top: 9px;
    left: -3px;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  width: auto;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-head;
  text-transform: uppercase;
}

.header__nav-item {
  position: relative;
  display: block;
  min-height: 41px;
  text-align: center;
  padding-top: 24px;

  &::after {
    position: absolute;
    content: "";
    width: 150vw;
    height: 1px;
    background-color: #cdcdcd;
    top: 0;
    left: -50vw;
  }
}

.header__nav-item a {
  color: $top-color;
}

@media (min-width: $tablet-width) {
  .header__logo {
    max-width: 174px;
  }

  .header__container {
    margin: 0 auto;
    padding: 0 30px;
    min-width: 708px;
    align-items: center;
    padding-top: 23px;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    min-height: 18px;
    flex-grow: 0;
    margin-top: 0;
    width: 439px;
  }

  .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__nav-item {
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    display: block;
    min-height: auto;
    text-align: center;
    padding-top: 0;

    &::after {
      display: none;
    }
  }

  .header__nav-item--active1 {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 62px;
      height: 2px;
      background-color: $leaf-color;
      top: 31px;
      left: 0;
    }
  }

  .header__nav-item--active2 {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 152px;
      height: 2px;
      background-color: $leaf-color;
      top: 31px;
      left: 0;
    }
  }

  .header__nav-item--active3 {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 151px;
      height: 2px;
      background-color: $leaf-color;
      top: 31px;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    padding: 0 40px;
    min-width: 1220px;
    min-height: 113px;
    padding-top: 30px;
  }

  .header__logo {
    max-width: 203px;
  }

  .header__nav {
    width: 479px;
  }

  .header__nav-item {
    position: relative;
    font-size: 20px;
    line-height: 25px;
    color: $top-color2;

    &:first-child::before {
      width: 68px;
      background-color: #ffffff;
      top: 32px;
      left: 1px;
    }
  }

  .header__nav-item a {
    color: $text-head;
  }

  .header__nav-item--black a {
    color: $top-color2;
  }

  .header__nav-item--active1 {
    &::before {
      width: 68px;
      top: 32px;
      left: 0;
    }
  }

  .header__nav-item--active2 {
    &::before {
      width: 168px;
      top: 32px;
      left: 1px;
    }
  }

  .header__nav-item--active3 {
    &::before {
      width: 169px;
      top: 32px;
    }
  }
}
