.main-info {
  overflow: hidden;
  position: relative;
  width: auto;
  min-height: 480px;
  margin: 0 auto;
  font-family: $font-head;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 305px;
    background-color: #63a73a;
    z-index: -1;
  }
}

.main-info__background {
  margin: 0 auto;
  max-width: 320px;
  min-height: 440px;
  background: url("../img/index-can-mobile@1x.png") center 166px no-repeat;
}

.main-info__container {
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.main-info__title {
  margin: 0;
  color: $text-head;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  padding-top: 27px;
}

.main-info__text {
  color: $text-head;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-top: 26px;
  margin: 0;
}

.main-info__button {
  max-width: 280px;
  display: block;
  cursor: pointer;
  background-color: $leaf-color;
  margin: 0 auto;
  padding: 11px 0;
  color: $text-head;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-top: 301px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-info {
    background: url("../img/index-background-mobile@2x.jpg") top center no-repeat;
    background-size: 320px auto;
  }

  .main-info__background {
    background: url("../img/index-can-mobile@2x.png") center 166px no-repeat;
    background-size: 280px auto;
  }
}

@media (min-width: $tablet-width) {
  .main-info {
    margin-top: 20px;
    background: none;

    &::before {
      display: none;
    }
  }

  .main-info__background {
    padding: 0 30px;
    min-width: 708px;
    min-height: 842px;
    background: url("../img/index-can-tablet@1x.jpg") center 233px no-repeat;
  }

  .main-info__container {
    text-align: left;
    padding: 0;
    padding-left: 88px;
  }

  .main-info__title {
    max-width: 415px;
    font-size: 60px;
    line-height: 60px;
    color: $top-color;
    margin-bottom: 16px;
    padding-top: 32px;
  }

  .main-info__text {
    font-size: 20px;
    line-height: 20px;
    color: $top-color;
  }

  .main-info__button {
    margin: 0;
    margin-top: 47px;
    margin-left: 89px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
    color: $text-head;
    width: 213px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-info__background {
      background: url("../img/index-can-tablet@2x.jpg") center 233px no-repeat;
      background-size: 709px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-info {
    overflow: visible;
    margin-top: 0;

    &::before {
      display: block;
      width: 50%;
      height: 696px;
      top: -143px;
      left: 50%;
    }
  }

  .main-info__background {
    position: relative;
    padding: 0 40px;
    min-width: 1220px;
    min-height: 633px;
    background: url("../img/index-can-desktop@1x.png") 490px 0 no-repeat;

    &::after {
      position: absolute;
      content: "";
      width: 720px;
      height: 696px;
      top: -143px;
      left: 649px;
      background: url("../img/index-background-desktop@1x.jpg") top no-repeat;
      z-index: -1;
    }
  }

  .main-info__container {
    padding-top: 79px;
    padding-left: 80px;
  }

  .main-info__title {
    padding: 0;
    margin-bottom: 41px;
  }

  .main-info__text {
    padding: 0;
  }

  .main-info__button {
    margin-left: 80px;
    margin-top: 53px;
  }

  .main-info__desktopBG {
    position: absolute;
    width: 720px;
    height: 696px;
    top: -113px;
    left: 500px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-info__background {
      background: url("../img/index-can-desktop@2x.png") 409px 0 no-repeat;
      background-size: 709px auto;
    }

    .main-info__background::after {
      background: url("../img/index-background-desktop@2x.jpg") top no-repeat;
      background-size: 720px auto;
    }
  }
}
