.map {
  min-height: 476px;
  overflow: hidden;
}

.map__head {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 83px;
  max-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 28px;
}

.map__head--bg {
  &::before {
    position: absolute;
    content: "";
    background-color: $bgGrey;
    width: 165vw;
    z-index: -1;
    height: 114px;
    left: -250px;
    top: 0;
  }
}

.map__title {
  flex-basis: 124px;
  font-size: 16px;
  line-height: 20px;
  color: $top-color;
  font-family: $font-head;
  text-transform: uppercase;
  margin: 0;
}

.map__adress {
  flex-basis: 142px;
  font-size: 14px;
  line-height: 20px;
  color: $text-color;
  font-family: $font-main;
  margin: 0;
}

.map__image {
  height: 362px;
  background: url("../img/map-pin.png") center  143px no-repeat, url("../img/bg-map-mobile@1x.png") center -35px no-repeat;
  background-size: 65px 53px, auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/map-pin.png") center  143px no-repeat, url("../img/bg-map-mobile@2x.png") center -35px no-repeat;
    background-size: auto auto, 320px 400px;
  }
}

.map__image iframe {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .map__head--bg {
    &::before {
      height: 201px;
    }
  }

  .map__head {
    min-width: 625px;
    padding: 0 90px;
    height: 201px;
  }

  .map__title {
    font-size: 20px;
    line-height: 25px;
    flex-basis: 157px;
    padding-top: 65px;
  }

  .map__adress {
    font-size: 16px;
    line-height: 20px;
    flex-basis: 155px;
    text-align: right;
    align-self: flex-start;
    padding-top: 63px;
  }

  .map__adress span {
    display: table;
    margin-left: 28px;
    margin-top: 20px;
  }

  .map__image {
    min-height: 400px;
    background: url("../img/map-pin.png") center 145px no-repeat, url("../img/bg-map-tablet@1x.png") center -5px no-repeat;
    background-size: 116px 106px, auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/map-pin.png") center  145px no-repeat, url("../img/bg-map-tablet@2x.png") center -5px no-repeat;
      background-size: auto auto, 767px 400px;
    }
  }

  .map__image iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
    min-height: 400px;
    background: url("../img/bg-map-desktop@1x.png") center no-repeat;
    z-index: 1;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/bg-map-desktop@2x.png") center no-repeat;
      background-size: 1440px 400px;
    }

    &::after {
      content: "";
      width: 116px;
      height: 106px;
      position: absolute;
      background: url("../img/map-pin.png");
      left: calc(50% + 280px);
      top: 150px;
      z-index: -1;
    }
  }

  .map__head {
    position: absolute;
    min-width: 404px;
    left: calc(50% - 609px);
    top: 95px;
    background-color: $text-head;
    padding-left: 76px;
  }

  .map__head--bg::before {
    display: none;
  }

  .map__adress {
    text-align: left;
  }

  .map__adress span {
    display: table;
    margin-left: 0;
  }

  .map__image {
    background: none;
  }

  .map__image iframe {
    z-index: 1;
  }
}
