@import "var.scss";
@import "fonts.scss";
@import "_normalize";
@import "global.scss";
@mixin container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 280px;
}
@mixin containerTablet {
  margin: 0 auto;
  padding: 0 30px;
  min-width: 708px;
}
@mixin containerDesktop {
  margin: 0 auto;
  padding: 0 40px;
  min-width: 1220px;
}
@import "header.scss";
@import "main-info.scss";
@import "index-program.scss";
@import "index-about.scss";
@import "example.scss";
@import "catalog.scss";
@import "additional.scss";
@import "form.scss";
@import "map.scss";
@import "footer.scss";
