$font-head: 'Oswald', 'Arial', sans-serif;
$font-main: 'Arial', sans-serif;
$leaf-color: #68b738;
$text-color: #444444;
$text-head: #ffffff;
$program-color: #f2f2f2;
$top-color: #111111;
$top-color2: #222222;
$footer-svg-color: #666666;
$bgGrey: #eaeaea;
$tablet-width: 768px;
$desktop-width: 1300px;
